/************* start блоки поисковой панели ************/
.searchBar {
    margin: 10px 0 16px;
    display: flex;
}

.searchBar div:not(.searchBar div:last-child) {
    height: 56px;
    margin-right: 16px;
}

.dateFieldBlock {
    width: 15%;
}

.selectFieldBlock {
    width: 23%;
}

.searchFieldBlock {
    width: 32%;
}

.buttonBlock {
    width: 10%;
}

/************* end блоки поисковой панели ************/

.searchBar input {
    width: 100%;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    background-color: transparent;
    padding: 5px 0;
}

.searchBar input:focus-visible {
    border: 0;
    outline: 0;
}

.buttonBlock button {
    margin-top: 8px;
}



.searchIcon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%) hue-rotate(147deg) brightness(109%) contrast(102%);
    margin-right: 5px;
}