.wrapper{
    height: 100vh;
    background-color: #472F91;
    display: flex;
    justify-content: center;
}

.container{
    min-width: 400px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}

.myself{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 48px;
}

.myself p {
    margin: 0;
}

.logo{
    margin: 0 auto;
}

.user_img{
    width: 120px;
    height: 144px;
    border-radius: 8px;
}

.title{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.input_container{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.input_container label{
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.input_container input{
    background: #EFEFEF;
    border-radius: 8px;
    padding: 16px;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #1E1E1E;
    width: 100%;
    box-sizing: border-box;
}

.password {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.password_control {
    position: absolute;
    right: 12px;
    display: inline-block;
    width: 25px;
    height: 20px;
}

.view{
    background: url(/src/media/icons/password_view.svg) 0 0 no-repeat;
    top: 18px;
}

.no_view{
    background: url(/src/media/icons/password_no_view.svg) 0 0 no-repeat;
    top:13px;
}

.input_container input::placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: rgba(30, 30, 30, 0.5);
}

.input_container .forgot_password{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: 8px;
}
