.wrapper{
    height: 100vh;
    background-color: #472F91;
    display: flex;
    justify-content: center;
}

.container{
    min-width: 400px;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
}

.myself{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 48px;
}

.myself p {
    margin: 0;
}

.logo{
    margin: 0 auto;
}

.user_img{
    width: 120px;
    height: 144px;
    border-radius: 8px;
}

.title{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}