.show{
    display: block;
}

.fade{
    display: none!important;
}

/*********** фон для модалок ***********/
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: #1E1E1E;
}

.modalBackdrop.show {
    transition: 0.4s;
    opacity: 0.35;
    z-index: 1050;
}

.modalBackdrop.fade {
    opacity: 0;
    transition: 0.4s;
}

/**************** внизу с красным фоном *****************/
.errorModal {
    position: fixed;
    z-index: 1051;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.errorModalContent {
    background-color: #E25643;
    width: 90%;
    border-radius: 8px;
}

.errorModalContainer{
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.errorApiModalContainer{
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorApiModalContainer h3{
    color:white;
    margin: 7px;
}

/**************** внизу с красным фоном, если нет доступов *****************/
.link{

    color:#472F91;
    text-decoration: underline;
}