.logo{
    height: 56px;
    display: flex;
    align-items: center;
    margin-bottom: 84px;
}

.sidebarMenu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebarMenu li a{
    width: 265px;
    padding: 16px 0 16px 56px;
    display: flex;
    align-items: center;
}

.sidebarMenu .active{
    background: #472F91;
    border-radius: 0 8px 8px 0;
}

.sidebarMenu .active span{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-left: 10px;
}
