@font-face {
    font-family: 'Nunito';
    src: url('./media/fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./media/fonts/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body{
    font-family: Nunito, sans-serif;
}

.container{
    padding: 0 56px;
}

.d-flex{
    display: flex;
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
}

/*************  основная кнопка ************/
.btn{
    height: 48px;
    width: 100%;
    border: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

/*************  кнопка-1 ************/
.btn-main{
    background: #71BF44;

}

/*************  кнопка-2 ************/
.btn-secondary{
    background: #472F91;
}

/*************  fieldset ************/

fieldset{
    border: 0.5px solid #908e8e!important;
    border-radius: 8px!important;
    padding: 0 16px 0!important;
    height: 55px!important;
    margin: 0!important;
}

legend{
    font-weight: 600!important;
    font-size: 15px!important;
    line-height: 19px!important;
    color: #CCCCCC!important;
    padding: 0 5px!important;
}
